<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <!--><add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />-->          
          <add name="X-Custom-Name" value="MyCustomValue" />
          <add name="X-Frame-Options" value="ALLOW-FROM https://aad.contoso.com/" />
          <!--<clear />-->
          <add name="Strict-Transport-Security" value="max-age=31536000" />
          <remove name="X-Powered-By" />
          <!--<remove name="X-Content-Type-Options" />-->
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Content-Security-Policy" value="script-src 'unsafe-inline' 'unsafe-eval' https://aad.contoso.com; style-src 'self' 'unsafe-inline'" />
          <!--<add name="Content-Security-Policy" value="default-src 'none'; script-src 'self' https://js.stripe.com; connect-src 'self' https://api.stripe.com; img-src 'self' data:; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; frame-src 'self' https://*.stripe.com https://stripe.com; frame-ancestors 'none'; report-uri /csp_report.php; block-all-mixed-content;" />-->
          <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
          <add name="Pragma" value="no-cache" />
          <add name="Expires" value="0" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  

</configuration>